
  
  
  
  .item-container {
    min-width: 30%;
    height: 300px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  
    
  
    .item {
      background-color:grey;
      opacity: 70%;
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
  
      .title {
        
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color:white;
      }
  
      .buy-now {
        
        font-size: 16px;

        color: whitesmoke;
      }
    }
  }